body{
  font-family: Arial;
}
.todo-grid, .todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}
.todo-input-grid {
  margin-bottom: 10px;
}
.name-input, .date-input{
  font-size: 15px;
  padding: 5px;
}
.add-input{
  color:white;
  background-color: green;
  border:none;
  cursor:pointer;
  padding: 10px 10px;

}
.delete-button{
  color:white;
  background-color: darkred;
  border:none;
  cursor:pointer;
  font-size:15px;
  padding: 10px 10px;

}